<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<!-- CDNs -->
    <script src="https://kit.fontawesome.com/ebdbec0b0c.js" crossorigin="anonymous"></script>

  	<!-- Style Sheets -->
    {% block styles %}
  		{{ bootstrap.load_css() }}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/jumbotron.css') }}">
    {% endblock styles %}
    
    {% endblock head %}
  </head>

  <body>

  	{% block content %}
  	{% endblock content %}

  </body>
</html>