{% extends "layout.html" %}
{% block content %}
<div class="jumbotron text-center">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <div>
            <label>
                {{ form.name(placeholder="Name") }}
            </label>
            <label>
                {{ form.password(placeholder="Password") }}
            </label>
            <label>
                {{ form.submit(placeholder="Log in", class="btn btn-primary btn-lg") }}
            </label>
        </div>
    </form>
</div>
{% endblock content %}